// metrics
$gap: 30px;

// fonts
$f_serif: 'Cambria', 'serif';
$f_sans_serif: 'Roboto', 'OpenSans', 'sans-serif';

// colors
$accent: #f00;
$pre_accent: rgba($accent, 0.5);
$white: #fff;
$gray1: #fcfcfa;
$gray2: #444;
$gray3: #666;
$gray4: #888;
$gray5: #ccc;

$s_vk: #597da3;
$s_facebook: #3b5998;
$s_google-plus: #db4437;
$s_twitter: #1da1f2;
$s_youtube-play: #cc181e;
$s_instagram: #125688;